{% extends "base.html" %}

{% comment %}
	User Profile Page
{% endcomment %}

{% block head %}
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css" type="text/css">
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.1.0.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
	<!-- js file of the plugin -->
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.leanModalOld.min.js"></script>
	<!-- Initializing the plugin for the goal popup -->
	<script>
		$(document).ready(function(){
			$("a[rel*=oneshotgoal-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=milestonegoal-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=timeoneshotgoal-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=timemilestonegoal-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=valuegoal-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=progressgoal-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
		});
	</script>
	<!--Tabs-->
	<script>
		$(document).ready(function() {
			$(".tab_content").hide();
			$(".tab_content:first").show();
			
			$("ul.tabs li").click(function() {
				$("ul.tabs li").removeClass("active");
				$(this).addClass("active");
				$(".tab_content").hide()
				var activeTab = $(this).attr("rel");
				$("#"+activeTab).fadeIn();
			});
		});
	</script>
	{% load bootstrap3 %}
	{% load staticfiles %}

    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{STATIC_URL}}css/cover.css" rel="stylesheet" type="text/css">
    <link rel= "stylesheet" href = "{{STATIC_URL}}css/goals.css" type="text/css">
	
	<!-- Adding page scripts-->
	<script type="text/javascript" src="{{STATIC_URL}}js/functions/addNewButton.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/functions/checkCompletedCheckbox.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/functions/cloneMore.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/functions/fillDisplay.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/functions/hideDateCompleted.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/functions/hideDateCompletedEdit.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/functions/hideDateCompletedFS.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/functions/hideDeleteFS.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/functions/prefillEditForm.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/functions/processMilestone.js"></script>
{% endblock %}

{% block body %}
	{% if user.is_authenticated %}
		<nav class="navbar navbar-fixed-top" role="navigation">
			<div class="container">	
				<ul id="list-nav">
					<a href="{% url 'homepage' %}" target="_blank"><img src="{{STATIC_URL}}img/G_White.png" border="0" id="home-logo"/></a>
					<li><a id='logout_button-btn' href="/logout/">Logout</a></li>
					<li><a id='profile-btn' href="#">Profile</a></li>
					<li><a id='lounge-btn' href="/lounge/">Lounge</a></li>
				</ul>
			</div>
		</nav>	
		
		<div id="goalContainer" class="goal-container">
			<div id="goal-owner">
				<p>{{ user.username }}'s Goals</p>
			</div>
			<div id="goal-nav">
				<ul class="tabs">
					<li class="active" rel="oneshot">One Shot</li>
					<li rel="milestone">Milestone</li>
					<li rel="timeoneshot">Time One Shot</li>
					<li rel="timemilestone">Time Milestone</li>
					<li rel="value">Value</li>
					<li rel="progress">Progress</li>
					<li rel="recurrent">Recurrent</li>
					<li rel="special">Special</li>
				</ul>
				<div class="tab_container">
					<div id="oneshot" class="tab_content">
						<p class="tab_text">
						{% for osgoal in oneshotgoals %}
							<a href="/user/{{ user.username }}/osgoals/{{ osgoal.title|slugify }}{{ osgoal.id }}">{{ osgoal.title }}</a>
						{% endfor %}
						<a href="#oneshotgoal-form" class="pure-button" id="newoneshotgoal-button" rel="oneshotgoal-form">New One Shot Goal</a>
						</p>
					</div>
					<div id="special" class="tab_content">
						<h1 class="tab_text">
							Not Available Yet!
						</h1>
					</div>
					<div id="recurrent" class="tab_content">
						<h1 class="tab_text">
							Not Available Yet!
						</h1>
					</div>
					<div id="milestone" class="tab_content">
						<p class="tab_text">
						{% for msgoal in milestonegoals %}
							<a href="/user/{{ user.username }}/msgoals/{{ msgoal.title|slugify }}{{ msgoal.id }}">{{ msgoal.title }}</a>
						{% endfor %}
						<a href="#milestonegoal-form" class="pure-button" rel="milestonegoal-form">New Milestone Goal</a>
						</p>
					</div>
					<div id="timeoneshot" class="tab_content">
						<p class="tab_text">
						{% for tosgoal in timeoneshotgoals %}
							<a href="/user/{{ user.username }}/tosgoals/{{ tosgoal.title|slugify }}{{ tosgoal.id }}">{{ tosgoal.title }}</a>
						{% endfor %}
						<a href="#timeoneshotgoal-form" class="pure-button" id="newtimeoneshotgoal-button" rel="timeoneshotgoal-form">New Time One Shot Goal</a>
						</p>
					</div>
					<div id="timemilestone" class="tab_content">
						<p class="tab_text">
						{% for tmsgoal in timemilestonegoals %}
							<a href="/user/{{ user.username }}/tmsgoals/{{ tmsgoal.title|slugify }}{{ tmsgoal.id }}">{{ tmsgoal.title }}</a>
						{% endfor %}
						<a href="#timemilestonegoal-form" class="pure-button" rel="timemilestonegoal-form">New Time Milestone Goal</a>
						</p>
					</div>
					<div id="value" class="tab_content">
						<p class="tab_text">
						{% for vgoal in valuegoals %}
							<a href="/user/{{ user.username }}/vgoals/{{ vgoal.title|slugify }}{{ vgoal.id }}">{{ vgoal.title }}</a>
						{% endfor %}
						<a href="#valuegoal-form" class="pure-button" rel="valuegoal-form">New Value Goal</a>
						</p>
					</div>
					<div id="progress" class="tab_content">
						<p class="tab_text">
						{% for pgoal in progressgoals %}
							<a href="/user/{{ user.username }}/pgoals/{{ pgoal.title|slugify }}{{ pgoal.id }}">{{ pgoal.title }}</a>
						{% endfor %}
						<a href="#progressgoal-form" class="pure-button" rel="progressgoal-form">New Progress Goal</a>
						</p>
					</div>
			</div>
			<div id="goal-display">
			</div>
		</div>
		<!-- FORMS -->
		<form id="oneshotgoal-form" class="pure-form pure-form-stacked" action="" method="post">
			{% csrf_token %}
			<p>New One Shot Goal</p>
			<div id='oneshotgoal'>
				{% bootstrap_form oneshotgoalform %}
			</div>
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Submit" name="osgoalSub"/>
			<script>
				$('#id_completed', '#oneshotgoal').click(function() {
					hideDateCompleted('oneshotgoal');
				});
				$(document).ready(function() {
					hideDateCompleted('oneshotgoal');
				});
			</script>
		</form>
		<form id="milestonegoal-form" class="pure-form pure-form-stacked" action="" method="post">
			{% csrf_token %}
			<p>Milestone Goal</p>
			<div id='milestonegoal'>
				{% bootstrap_form milestonegoalform %}
			</div>
			{{ milestoneformset.management_form }}
			<div id='milestoneform_set'>
				{% for form in milestoneformset %}
					<div class='table'>
						<table class='no_error'>
							<p>Milestone</p>
							{{ form.as_table }}
						</table>		
					</div>
				{% endfor %}
			<input type="button" value="Add Milestone" id="add_milestone"/>
			</div>
			<script>
				$('#add_milestone', '#milestoneform_set').click(function() {
					cloneMore('div.table:last', 'milestone');
				});
			</script>
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Submit" name="msgoalSub"/>
		</form>
		<form id="timeoneshotgoal-form" class="pure-form pure-form-stacked" action="" method="post">
			{% csrf_token %}
			<p>New Time One Shot Goal</p>
			<div id='timeoneshotgoal'>
				{{  timeoneshotgoalform }}
			</div>
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Submit" name="tosgoalSub"/>
			<script>
				//$("#id_completed", "#timeoneshotgoal").click(function() {
				//	hideDateCompleted('timeoneshotgoal');
				//});
				//$(document).ready(function() {
				//	hideDateCompleted('timeoneshotgoal');
				//});
			</script>
		</form>
		<form id="timemilestonegoal-form" class="pure-form pure-form-stacked" action="" method="post">
			{% csrf_token %}
			<p>Time Milestone Goal</p>
			<div id='timemilestonegoal'>
				{% bootstrap_form timemilestonegoalform %}
			</div>
			{{ timemilestoneformset.management_form }}
			<div id='timemilestoneform_set'>
				{% for form in timemilestoneformset %}
					<div class='table'>
						<table class='no_error'>
							<p>Time Milestone</p>
							{{ form.as_table }}
						</table>		
					</div>
				{% endfor %}
			<input type="button" value="Add Milestone" id="add_milestone"/>
			</div>
			<script>
				$('#add_milestone', '#timemilestoneform_set').click(function() {
					cloneMore('div.table:last', 'timemilestone');
				});
			</script>
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Submit" name="tmsgoalSub"/>
		</form>
		<form id="valuegoal-form" class="pure-form pure-form-stacked" action="" method="post">
			{% csrf_token %}
			<p>New Value Goal</p>
			<div id='valuegoal'>
				{% bootstrap_form valuegoalform %}
			</div>
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Submit" name="vgoalSub"/>
			<script>
				//$("#id_completed", "#timeoneshotgoal").click(function() {
				//	hideDateCompleted('timeoneshotgoal');
				//});
				//$(document).ready(function() {
				//	hideDateCompleted('timeoneshotgoal');
				//});
			</script>
		</form>
		<form id="progressgoal-form" class="pure-form pure-form-stacked" action="" method="post">
			{% csrf_token %}
			<p>New Progress Goal</p>
			<div id='progressgoal'>
				{% bootstrap_form progressgoalform %}
			</div>
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Submit" name="pgoalSub"/>
			<script>
				//$("#id_completed", "#timeoneshotgoal").click(function() {
				//	hideDateCompleted('timeoneshotgoal');
				//});
				//$(document).ready(function() {
				//	hideDateCompleted('timeoneshotgoal');
				//});
			</script>
		</form>
	{% else %}
		<h1>No one's logged in...</h1>
		<a href="{% url 'homepage' %}">Login?</a><br />
	{% endif %}
{% endblock %}