{% extends "base.html" %}

{% comment %}
	Homepage of Goali.
{% endcomment %}

{% block head %}
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goali</title>
	
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css" type="text/css">
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.1.0.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
	<!-- js file of the plugin -->
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.leanModal.min.js"></script>
	
	<script>
		$(document).ready(function(){
		  $("a[rel*=signin-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
		});
	</script>
	
	{% load bootstrap3 %}
	{% load staticfiles %}
    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{STATIC_URL}}css/cover.css" rel="stylesheet" type="text/css">
    <link rel= "stylesheet" href = "{{STATIC_URL}}css/home.css" type="text/css">

{% endblock %}


{% block body %}
	<div class="site-wrapper">
	<nav class="navbar navbar-fixed-top" role="navigation">
			<div class="container">
			<a href="http://s1372.photobucket.com/user/ybi2450/media/G-logo_47a938_zps22b74e95.png.html" target="_blank"><img src="http://i1372.photobucket.com/albums/ag359/ybi2450/G-logo_47a938_zps22b74e95.png" border="0" alt=" photo G-logo_47a938_zps22b74e95.png" id="home-logo"/></a>
			<a href="#" class="pure-button" id="signin-button">Sign In</a>
			</div>
		</nav>


		  <div class="site-wrapper-inner">

			<div class="cover-container">


	<div id="home-container">
	<div id="intro" class="inner cover">
				<h1 class="cover-heading">Welcome to Goali</h1>
				<p class="intro">Goali is an online service to help you keep track of your goals and aspirations.</p>
				<p class="intro">
				  <a href="#" class="pure-button pure-button-primary">Learn more</a>
				</p>
			  </div>

		<div id="formwrapper">
		
		<form class="pure-form pure-form-stacked" action="" method="post">
			{% csrf_token %}
			<p>New to Goali?</p>
			{% bootstrap_form form %}
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Sign Up for Goali Now!"/>
			<p><a id="signintext" href="#">Or Sign In Here</a></p>
			<input type="hidden" name="next" value="{{ next|escape }}" />
		</form>
		
	</div>
	</div>

				  <div class="mastfoot">
				<div class="inner">
				  <ul id="nav-bottom">
					<li><a href="#">About</a></li>
					<li><a href="#">Help</a></li>
					<li><a href="#">Terms</a></li>
					<li><a href="#">Contact</a></li>
					<li>© 2014 Goali</li>
				  </ul>
				</div>
			  </div>

			</div>

		  </div>

		</div>
{% endblock %}