<html>
<head>
	{% load bootstrap3 %}
	<link rel= "stylesheet" href = "../static/css/home.css">
	{% bootstrap_css %}
	{% bootstrap_javascript %}
	{% bootstrap_messages %}
</head>
<body>

<p>Welcome to Goali!</p>
<a href="#">Learn More</a>

{% block form %}
{% if form.errors %}
		<p class="error">Sorry, that's not a valid username or password</p>
	{% endif %}
	
	<form action="" method="post">
		<label for="username">Username:</label>
		<input type="text" name="username" value="" id="username">
		<label for="email">Email:</label>
		<input type="email" name="email" value="" id="email">
		<label for="first_name">First Name:</label>
		<input type="text" name="first_name" value="" id="first_name">
		<label for="last_name">Last Name:</label>
		<input type="text" name="last_name" value="" id="last_name">
		<label for="password1">Password:</label>
		<input type="text" name="password1" value="" id="password1">
		<label for="password2">Please Repeat Password:</label>
		<input type="text" name="password2" value="" id="password2">
		
		<input type="submit" value="login"/>
		<input type="hidden" name="next" value="{{ next|escape }}" />
	</form>
{% endblock %}

{% block bottomnav %}
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
		<ul>
			<li><img href="../static/img/G-logo.jpg" alt="logo"/></li>
			<li></li>
			<li></li>
		</ul>
	</nav>
{% endblock %}

{% block footer %}

{% endblock %}
</body>
</html>