{% extends "base.html" %}

{% comment %}
	One Shot Goal Page
{% endcomment %}

{% block head %}
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css" type="text/css">
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.1.0.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
	<!-- js file of the plugin -->
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.leanModal.min.js"></script>
	<!-- Initializing the plugin for the signin popup -->
	<script>
		$(document).ready(function(){
			$("a[rel*=deletemilestonegoal-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=editmilestonegoal-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=milestonegoaljournal-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=milestonegoalnote-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=milestone-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=submilestone-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
		});
	</script>
	<!-- cloning function for adding milestones -->
	<script>
		function cloneMore(selector, type) {
			var newElement = $(selector).clone(true);
			var total = $('#id_'+type+'-TOTAL_FORMS').val();
			newElement.find(':input').each(function() {
				var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
				var id = 'id_' + name;			
				$(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
			});
			newElement.find('label').each(function() {
				var newFor = $(this).attr('for').replace('-' + (total-1) + '-', '-' + total + '-');
				$(this).attr('for', newFor);
			});
			total++;
			$('#id_' + type + '-TOTAL_FORMS').val(total);
			$(selector).after(newElement);
		}
	</script>
	<script>
		function addNewButton(selector, type, id, message) {
			$('#'+selector).append('<a href="#submilestone-form" class="pure-button" rel="submilestone-form" id="'+type+'-'+id+'">'+message+'</a>');
			$("#"+type+"-"+id).click(function() {
				$('#id_milestone_id').val(id);
			});
		}
	</script>

	{% load bootstrap3 %}
	{% load staticfiles %}

    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{STATIC_URL}}css/cover.css" rel="stylesheet" type="text/css">
    <link rel= "stylesheet" href = "{{STATIC_URL}}css/milestonegoals.css" type="text/css">
{% endblock %}

{% block body %}
	{% if user.is_authenticated %}
		<a href="/user/{{ user.username }}/">Back</a><br />
		<a href="#editmilestonegoal-form" class="pure-button" rel="editmilestonegoal-form">Edit Goal</a>
		<a href="#deletemilestonegoal-form" class="pure-button" rel="deletemilestonegoal-form">Delete Goal</a>
		<h1>{{ goal.title }}</h1>
		<h2>Goal Description: {{ goal.description }}</h2>
		<p>Private: {{ goal.private }}</p>
		{% if goal.completed %}
			<p>Status: Completed on {{ goal.date_completed }}</p>
		{% else %}
			<p>Status: Incomplete</p>
		{% endif %}
		<p>Created on: {{ goal.date_created }}</p>
		<p>Last updated: {{ goal.last_updated }}<p>
		<a href="#milestonegoaljournal-form" class="pure-button" rel="milestonegoaljournal-form">New Journal entry</a>
		<a href="#milestonegoalnote-form" class="pure-button" rel="milestonegoalnote-form">Add a Note</a>
		<p>{{ milestones }}</p>
		<p>{{ subsList }}</p>
		{% for msgjournal in milestonegoaljournal %}
			<p>
				{{ msgjournal.date }}: {{ msgjournal.entry }}
			</p>
		{% endfor %}
		{% for msgnote in milestonegoalnote %}
			<p>{{ msgnote.note }}</p>
		{% endfor %}
		<a href="#milestone-form" class="pure-button" rel="milestone-form">Add New Milestone</a>
		{% for ms in milestones %}
			<div id='milestone{{ ms.id }}'>
				<h2>{{ ms.title }}</h2>
				{% if ms.completed %}
					<p>Status: Completed on {{ ms.date_completed }}</p>
				{% else %}
					<p>Status: Incomplete</p>
				{% endif %}
				<script>
					addNewButton('milestone{{ ms.id }}', 'milestone', '{{ ms.id }}', 'Add New Sub-Milestone')
				</script>
				{% for sms in ms.submilestone.all %}
					<p>FOR LOOP: Sub-Milestone: {{ sms.title }}</p>
				{% endfor %}
			</div>
		{% endfor %}
		<!-- FORMS -->
		<form id="deletemilestonegoal-form" class="pure-form pure-form-stacked" action="" method="post">
			{% csrf_token %}
			<p>Are You Sure?</p>
			{% bootstrap_form deletemilestonegoalform %}
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Delete" name="deleteMSGoalSub"/>
		</form>
		<form id="editmilestonegoal-form" class="pure-form pure-form-stacked" action="" method="post">
			{% csrf_token %}
			<p>Edit {{ goal.title }}</p>
			{% bootstrap_form editmilestonegoalform %}
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Submit" name="editMSGSub"/>
		</form>
		<form id="milestonegoaljournal-form" class="pure-form pure-form-stacked" action="" method="post">
			{% csrf_token %}
			<p>New Journal Entry</p>
			{% bootstrap_form milestonegoaljournalform %}
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Submit" name="msgJournalSub"/>
		</form>
		<form id="milestonegoalnote-form" class="pure-form pure-form-stacked" action="" method="post">
			{% csrf_token %}
			<p>New Note</p>
			{% bootstrap_form milestonegoalnoteform %}
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Submit" name="msgNoteSub"/>
		</form>
		<form id="milestone-form" class="pure-form pure-form-stacked" action="" method="post">
			{% csrf_token %}
			{{ milestoneformset.management_form }}
			<div id='milestoneform_set'>
				{% for form in milestoneformset %}
					<div class='mstable'>
						<table class='no_error'>
							<p>Milestone</p>
							{{ form.as_table }}
						</table>		
					</div>
				{% endfor %}
			</div>
			<input type="button" value="Add Milestone" id="add_milestone"/>
			<script>
				$('#add_milestone').click(function() {
					cloneMore('div.mstable:last', 'milestone');
				});
			</script>
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Submit" name="msSub"/>
		</form>
		<form id="submilestone-form" class="pure-form pure-form-stacked" action="" method="post">
			{% csrf_token %}
			{{ collectmilestoneidform.milestone_id }}
			{{ submilestoneformset.management_form }}
			<div id='submilestoneform_set'>
				{% for form in submilestoneformset %}
					<div class='smstable'>
						<table class='no_error'>
							<p>Sub-Milestone</p>
							{{ form.as_table }}
						</table>		
					</div>
				{% endfor %}
			</div>
			<input type="button" value="Add Sub-Milestone" id="add_submilestone"/>
			<script>
				$('#add_submilestone').click(function() {
					cloneMore('div.smstable:last', 'submilestone');
				});
			</script>
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Submit" name="subMSSub"/>
		</form>
	{% else %}
		<h1>No one's logged in...</h1>
		<a href="{% url 'homepage' %}">Login?</a><br />
	{% endif %}
{% endblock %}