{% extends "base.html" %}

{% comment %}
	One Shot Goal Page
{% endcomment %}

{% block head %}
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css" type="text/css">
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.1.0.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
	<!-- js file of the plugin -->
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.leanModal.min.js"></script>
	<!-- Initializing the plugin for the signin popup -->
	<script>
		$(document).ready(function(){
			$("a[rel*=oneshotjournal-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=oneshotnote-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=deleteoneshot-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=editoneshot-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
		});
	</script>
	
	<!-- jquery for hiding date_completed unless goal is completed -->
	<script>
		function hideDateCompleted(divID){
			if ($('#id_completed').is(':checked')) {
				$("#"+divID+" label[for='id_date_completed']").show();
				$('#id_date_completed').show();
			}
			else {
				$("#"+divID+" label[for='id_date_completed']").hide();
				$('#id_date_completed').hide();
			}
		}
	</script>
	<script>
		function addNewButton(selector, type, id, entry) {
			$('#'+selector).append('<a href="#editoneshotjournal-form" class="pure-button" rel="editoneshotjournal-form" id="'+type+'-'+id+'">Edit Journal Entry</a>');
			$("#"+type+"-"+id).click(function() {
				$('#id_edit_entry').val(entry);
				$('#id_edit_journal_id').val(id);
			});
		}
	</script>
	
	{% load bootstrap3 %}
	{% load staticfiles %}

    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{STATIC_URL}}css/cover.css" rel="stylesheet" type="text/css">
    <link rel= "stylesheet" href = "{{STATIC_URL}}css/oneshotgoals.css" type="text/css">
{% endblock %}

{% block body %}
	{% if user.is_authenticated %}
		<a href="/user/{{ user.username }}/">Back</a><br />
		<a href="#editoneshot-form" class="pure-button" rel="editoneshot-form">Edit Goal</a>
		<a href="#deleteoneshot-form" class="pure-button" rel="deleteoneshot-form">Delete Goal</a>
		<h1>{{ goal.title }}</h1>
		<h2>Goal Description: {{ goal.description }}</h2>
		<p>Private: {{ goal.private }}</p>
		{% if goal.completed %}
			<p>Status: Completed on {{ goal.date_completed }}</p>
		{% else %}
			<p>Status: Incomplete</p>
		{% endif %}
		<p>Created on: {{ goal.date_created }}</p>
		<p>Last updated: {{ goal.last_updated }}<p>
		<a href="#oneshotjournal-form" class="pure-button" rel="oneshotjournal-form">New Journal entry</a>
		<a href="#oneshotnote-form" class="pure-button" rel="oneshotnote-form">Add a Note</a>
		{% for osjournal in oneshotjournal %}
			<div id='osjournal{{ osjournal.id }}'>
			<p>
			<td> Preview 
				<a href="#oneshotnote-form" rel="oneshotnote-form">Edit</a> 
				<a href="#oneshotnote-form" rel="oneshotnote-form">Delete</a> 
			</td>
			<p> {{ osjournal.date }}: {{ osjournal.entry }} </p>
			</p>
			</div>
			<script>
				addNewButton("osjournal{{ osjournal.id }}", "osjournal", "{{osjournal.id}}", "{{ osjournal.entry }}"); 
			</script>
		{% endfor %}
		{% for osnote in oneshotnote %}
			<p>{{ osnote.note }}</p>
		{% endfor %}
		<!-- FORMS -->
		<form class="pure-form pure-form-stacked" action="" method="post" id="oneshotjournal-form">
			{% csrf_token %}
			<p>New Journal Entry</p>
			{% bootstrap_form oneshotjournalform %}
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Submit" name="osjournalSub"/>
		</form>
		<form class="pure-form pure-form-stacked" action="" method="post" id="editoneshotjournal-form">
			{% csrf_token %}
			<p>Edit Journal Entry</p>
			{{ editoneshotjournalform.edit_entry }}
			{{ editoneshotjournalform.edit_journal_id }}
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Submit" name="editosjournalSub"/>
		</form>
		<form class="pure-form pure-form-stacked" action="" method="post" id="oneshotnote-form">
			{% csrf_token %}
			<p>Add Note</p>
			{% bootstrap_form oneshotnoteform %}
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Submit" name="osnoteSub"/>
		</form>
		<form class="pure-form pure-form-stacked" action="" method="post" id="editoneshot-form">
			{% csrf_token %}
			<p>Edit {{ goal.title }}</p>
			<div id='editoneshotgoal'>
				{% bootstrap_form editoneshotform %}
			</div>
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Submit" name="editSub"/>
			<script>
				$('#id_completed').click(function() {
					hideDateCompleted('editoneshotgoal');
				});
			</script>
			<script>
				$(document).ready(function() {
					hideDateCompleted('editoneshotgoal');
				});
			</script>
		</form>
		<form class="pure-form pure-form-stacked" action="" method="post" id="deleteoneshot-form">
			{% csrf_token %}
			<p>Are You Sure?</p>
			{% bootstrap_form deleteoneshotform %}
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Delete" name="deleteSub"/>
		</form>
	{% else %}
		<h1>No one's logged in...</h1>
		<a href="{% url 'homepage' %}">Login?</a><br />
	{% endif %}
{% endblock %}