<html>
<head>
	<script type="text/javascript" src="{{STATIC_URL}}mbostock-d3/d3.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}hexbin-js-master/src/d3.hexbin.js"></script>
	<script src="http://d3js.org/d3.hexbin.v0.min.js"></script>
	<script src="http://d3js.org/topojson.v1.min.js"></script>
</head>

<body>
	<script>
		var visualOneShotGoal = function(divID, goal, cColor){		
			//draw pie
			var color = d3.scale.ordinal()
				.domain([0,1,2,3,4,5,6,7,8,9,10,11,12,13])
				.range(["#1f77b4","#aec7e8","#ffbb78","#d62728","#ff9896","#9467bd","#c5b0d5","#c49c94","#e377c2","#f7b6d2","#bcbd22","#dbdb8d","#17becf","#9edae5"]);
			
			var pie = d3.layout.pie();
			var arc = d3.svg.arc().outerRadius(radius);
			
			//draw svg
			var width = 650,
				height = 500,
				radius = Math.min(width, height)/2 - 10;
			
			var svgWidth = 960,
				svgHeight = 500;
		
			var svg = d3.select("#"+divID).append("svg")
				.attr("width", svgWidth)
				.attr("height", svgHeight);
			
			var clipBox = svg.append("clipPath")
				.attr("id", "clip-box");
					
			clipBox.append("rect")
				.attr("class", "glass")
				.attr("width", svgWidth)
				.attr("height", svgHeight)
				.attr("fill", "none")
				.attr("rx", "30");
					
			svg.attr("clip-path", "url(#clip-box)");
			
			var backdrop = svg.append("rect")
				.attr("width", svgWidth)
				.attr("height", svgHeight)
				.attr("fill", "white");
				
			//calculate size of donut arcs
			var sizeArray = [];
			var depths = [];
			var sum = 0;
			
			for (var i = 0; i < depthArray.length; i++) {
				sizeArray[i] = Math.pow(0.70, i); 
				sizeArray[i] = sizeArray[i]*depthArray[i];
				sum += sizeArray[i];
				depths[i] = i+1;
			};
			
			var rad = (2*Math.PI)/sum;
			for (var i = 0; i < depthArray.length; i++) {
				sizeArray[i] = sizeArray[i]*rad/depthArray[i];
			};

			var radScale = d3.scale.ordinal()
				.domain(depths)
				.range(sizeArray);
			
			//donut arc variables
			currentDepth = 0;
			currentAngle = 0;
			var idArray = [goal.goal_id];
			var isGoal = true;
			var selected = goal.goal_id;
			var selectedObj;
			var delayCounter = 0;
			var completedGoal; //goal that is to be completed
			var completedColor; //original color of selected completed ms
			var selectedColor; //color of selected ms
			var cmplt = false; //whether or not completeTrans has been run
			var start = true;
			
			//Transitions
			var completeTransHelp = function(obj, compl) {
				if (obj.milestone_completed) {
				} else {
					var subs = obj.submilestones;
					d3.select("#msArc_"+obj.milestone_id)
						.transition()
						.attr("fill", cColor)
						.duration(400)
						.delay(delayCounter*300);
					delayCounter++;
					for (var i = 0; i < subs.length; i++) {
						completeTransHelp(subs[i]);
					};
				}
			};
	
			var completeTrans = function(obj) {
				if (isGoal) {
					for (var i = 0; i < msSet.length; i++) {
						completeTransHelp(msSet[i]);
					}
					d3.select("#goal_arc")
						.transition()
						.attr("fill", cColor)
						.duration(400)
						.delay(delayCounter*300);
				} else {
					completeTransHelp(obj);
				};
				cmplt = true;
			};
			
			var normalTransHelp = function(obj, clr, opacBool) {
				if (obj.milestone_completed) {
				} else if (obj.milestone_is_sub) {
					var subs = obj.submilestones;
					if (opacBool && !(obj.milestone_id === selected)) {
						d3.select("#msArc_"+obj.milestone_id)
							.transition()
							.style("opacity", "0.5")
							.attr("fill", clr)
							.duration(250);
					} else {
						d3.select("#msArc_"+obj.milestone_id)
							.transition()
							.attr("fill", clr)
							.duration(250)
							.style("opacity", "1.0");
					}
					for (var i = 0; i < subs.length; i++) {
						normalTransHelp(subs[i], clr, opacBool);
					};
				} else {
					var newColor = color((obj.milestone_id*23)%13)
					var subs = obj.submilestones;
					if (opacBool && !(obj.milestone_id === selected)) {
						d3.select("#msArc_"+obj.milestone_id)
							.transition()
							.style("opacity", "0.5")
							.attr("fill", newColor)
							.duration(250)
							.transition();
					} else {
						d3.select("#msArc_"+obj.milestone_id)
							.transition()
							.attr("fill", newColor)
							.duration(250)
							.style("opacity", "1.0");
					}
					for (var i = 0; i < subs.length; i++) {
						normalTransHelp(subs[i], newColor, opacBool);
					};
				};
			};
			
			var normalTrans = function(obj, opacBool) {
				if (start) {
					for (var i = 0; i < msSet.length; i++) {
						normalTransHelp(msSet[i], completedColor, opacBool);
					};
				} else {
					if (cmplt) {
						if (!(isGoal)) {
							for (var i = 0; i < msSet.length; i++) {
								normalTransHelp(msSet[i], completedColor, opacBool);
							};
						} else {
							normalTransHelp(obj, completedColor, opacBool);
						};
						$("#completed-form").hide()
					};
					cmplt = false;
				}
			};
			
			var fadeMilestones = function(arr, sel) {
				if (isGoal) {
					d3.select("#goal_arc")
						.transition()
						.duration(350)
						.style("opacity", "1.0");
				} else {
					d3.select("#goal_arc")
						.transition()
						.duration(350)
						.style("opacity", "0.5");
				};
				for (var i = 0; i < arr.length; i++) {
					if (arr[i] === sel) {
						d3.select("#msArc_"+sel)
							.transition()
							.duration(350)
							.style("opacity", "1.0");
					} else {
						d3.select("#msArc_"+arr[i])
							.transition()
							.duration(350)
							.style("opacity", "0.5");
					}
				};
			};
			
			var restoreOpacity = function(arr) {
				for (var i = 0; i < arr.length; i++) {
					d3.select("#msArc_"+arr[i])
						.transition()
						.style("opacity", "1.0");
				}
				
				d3.select("#goal_arc")
						.transition()
						.style("opacity", "1.0");
			};
			
			backdrop.on("click", function() { restoreOpacity(idArray);});
			
			var drawArcs = function(arr, clr) {
				idArray.push(arr.milestone_id);
				addNewButton('milestone', arr.milestone_id, arr.milestone_is_sub, 'submilestone-form', 'submilestone-form', 'Add New Sub-Milestone'+arr.milestone_id, arr.milestone_title, arr.milestone_description, arr.milestone_private, arr.milestone_completed, arr.milestone_date_completed)
				addNewButton('editmilestone', arr.milestone_id, arr.milestone_is_sub, 'editmilestone-form', 'editmilestone-form', 'Edit Milestone'+arr.milestone_id, arr.milestone_title, arr.milestone_description, arr.milestone_private, arr.milestone_completed, arr.milestone_date_completed)
				addNewButton('deletemilestone', arr.milestone_id, arr.milestone_is_sub, 'deletemilestone-form', 'deletemilestone-form', 'Delete Milestone'+arr.milestone_id, arr.milestone_title, arr.milestone_description, arr.milestone_private, arr.milestone_completed, arr.milestone_date_completed)
				
				if (arr.milestone_completed) {
					var radAdd = sizeArray[currentDepth];
					var arc = d3.svg.arc()
						.innerRadius(iradius)
						.outerRadius(radius)
						.startAngle(currentAngle)
						.endAngle(radAdd + currentAngle);
					svg.append("path")
						.attr("id", "msArc_"+arr.milestone_id)
						.attr("d", arc)
						.attr("fill", cColor)
						.attr("stroke", "white")
						.attr("stroke-width", "5px")
						.attr("transform", "translate(" + width/2 + "," + height/2+")")
						.on("click", function() {
							start = false;
							selected = arr.milestone_id;
							selectedColor = cColor;
							selectedObj = arr;
							isGoal=false;	
							fadeMilestones(idArray, selected);
							delayCounter = 0; 
							normalTrans(completedGoal, true);
							fillDisplay(arr.milestone_title, arr.milestone_description, arr.milestone_completed, arr.milestone_date_completed, arr.milestone_last_updated);
							$("#completed-form").animate({top:"430"});
							$("#42").hide();
						});
					currentAngle = radAdd+currentAngle
					var subs = arr.submilestones;
					var subLength = subs.length;
					if (subLength > 0) {
						currentDepth++;
						for (var i = 0; i < subLength; i++) {
							drawArcs(subs[i],cColor);
						};
						currentDepth--;
					}
				} else {
					var radAdd = sizeArray[currentDepth];
					var arc = d3.svg.arc()
						.innerRadius(iradius)
						.outerRadius(radius)
						.startAngle(currentAngle)
						.endAngle(radAdd + currentAngle);
					if (currentDepth == 1) {
						var newColor = color((arr.milestone_id*23)%13)
						svg.append("path")
							.attr("d", arc)
							.attr("id", "msArc_"+arr.milestone_id)
							.attr("fill", newColor)
							.attr("stroke", "white")
							.attr("stroke-width", "5px")
							.attr("transform", "translate(" + width/2 + "," + height/2+")")
							.on("click", function() {
								start = false;
								selected = arr.milestone_id;
								selectedColor = newColor;
								selectedObj = arr;
								isGoal=false;
								fadeMilestones(idArray, selected);
								delayCounter = 0; 
								normalTrans(completedGoal, true);  
								fillDisplay(arr.milestone_title, arr.milestone_description, arr.milestone_completed, arr.milestone_date_completed, arr.milestone_last_updated);
								$("#completed-form").animate({top:"430"});
								$("#42").hide();
							});
						currentAngle = radAdd+currentAngle;
						var subs = arr.submilestones;
						var subLength = subs.length;
						if (subLength > 0) {
							currentDepth++;
							for (var i = 0; i < subLength; i++) {
								drawArcs(subs[i],newColor);
							};
							currentDepth--;
						}
					} else {
						svg.append("path")
							.attr("d", arc)
							.attr("id", "msArc_"+arr.milestone_id)
							.attr("fill", clr)
							.attr("stroke", "white")
							.attr("stroke-width", "5px")
							.attr("transform", "translate(" + width/2 + "," + height/2+")")
							.on("click", function() {
								start = false;
								selected = arr.milestone_id;
								selectedColor = clr;
								selectedObj = arr;
								isGoal=false;
								fadeMilestones(idArray, selected);
								delayCounter = 0; 
								normalTrans(completedGoal, true);  
								fillDisplay(arr.milestone_title, arr.milestone_description, arr.milestone_completed, arr.milestone_date_completed, arr.milestone_last_updated);
								$("#completed-form").animate({top:"430"});
								$("#42").hide();
							});
						currentAngle = radAdd+currentAngle
						var subs = arr.submilestones;
						var subLength = subs.length;
						if (subLength > 0) {
							currentDepth++;
							for (var i = 0; i < subLength; i++) {
								drawArcs(subs[i],clr);
							};
							currentDepth--;
						}
					}
				}
			};
			
			//Draw donut arcs
			var gArc = d3.svg.arc()
				.innerRadius(radius*0.5)
				.outerRadius(radius)
				.startAngle(0-(sizeArray[0]/2))
				.endAngle(0+(sizeArray[0]/2));
				
			svg.append("path")
				.attr("d", gArc)
				.attr("id", "goal_arc")
				.attr("fill", cColor)
				.attr("stroke", "white")
				.attr("stroke-width", "5px")
				.attr("transform", "translate(" + width/2 + "," + height/2+")")
				.on("click", function() {
					isGoal=true;
					selected = -15;
					fadeMilestones(idArray, "goal_arc");
					delayCounter = 0; 
					normalTrans(completedGoal, true);
					fillDisplay(goal.goal_title, goal.goal_description, goal.goal_completed, goal.goal_date_completed, goal.goal_last_updated);
					$("#completed-form").animate({top:"430"});
					$("#42").hide();
				});
			
			currentAngle += 0+(sizeArray[0]/2);
			currentDepth++;
			
			for (var i = 0; i < msSet.length; i++) {
				drawArcs(msSet[i]);
			};

			$("#id_completedmilestone_id").val(goal.goal_id);
			$("#id_completedmilestone_isGoal").val(true);
			
			//draw buttons
			var convertButton = svg.append("rect")
				.attr("class", "v-button")
				.attr("width", 50)
				.attr("height", 70)
				.attr("fill", "#9edae5")
				.attr("stroke", "black")
				.attr("transform", "translate("+(width+260)+",0)")
				.on("click", function() {
				});
			
			var detailsButton = svg.append("rect")
				.attr("class", "v-button")
				.attr("width", 50)
				.attr("height", 70)
				.attr("fill", "#c5b0d5")
				.attr("stroke", "black")
				.attr("transform", "translate("+(width+260)+",70)")
				.on("click", function() {
				});
			
			var addMSButton = svg.append("rect")
				.attr("class", "v-button")
				.attr("width", 50)
				.attr("height", 70)
				.attr("fill", "#aec7e8")
				.attr("stroke", "black")
				.attr("transform", "translate("+(width+260)+",140)")
				.on("click", function() {
					if (isGoal) {
						$("#milestone-form-btn").click()
					} else {
						$("#milestone-"+selected+"-btn").click()
					};
			});
			
			var editButton = svg.append("rect")
				.attr("class", "v-button")
				.attr("width", 50)
				.attr("height", 70)
				.attr("fill", "#dbdb8d")
				.attr("stroke", "black")
				.attr("transform", "translate("+(width+260)+",210)")
				.on("click", function() {
					if (isGoal) {
						$("#editmilestonegoal-form-btn").click()
					} else {
						$("#editmilestone-"+selected+"-btn").click()
					}
				});

			var deleteButton = svg.append("rect")
				.attr("class", "v-button")
				.attr("width", 50)
				.attr("height", 70)
				.attr("fill", "#ff9896")
				.attr("stroke", "black")
				.attr("transform", "translate("+(width+260)+",280)")
				.on("click", function() {
					if (isGoal) {
						$("#deletemilestonegoal-form-btn").click()
					} else {
						$("#deletemilestone-"+selected+"-btn").click()
					};
				});
			
			var completeButton = svg.append("rect")
				.attr("id", "cmplt-tab")
				.attr("class", "v-button")
				.attr("width", 50)
				.attr("height", 150)
				.attr("transform", "translate("+(width+260)+",350)")
				.attr("stroke", "black")
				.attr("fill", "lightgreen")
				.on("click", function() {
					completeTrans(selectedObj);
					completedGoal = selectedObj;
					completedColor = selectedColor;
					if (isGoal) {
						$("#id_completedmilestone_id").val(goal.goal_id);
						$("#id_completedmilestone_isGoal").val(true);
					} else {
						$("#id_completedmilestone_id").val(selected);
						$("#id_completedmilestone_isGoal").val(isGoal);
					};
					$("#completed-form-btn").click();
				});
			
			//draw display
			var display = svg.append("rect")
				.attr("width", 260)
				.attr("height",  500)
				.attr("fill", "white")
				.attr("stroke", "black")
				.attr("transform", "translate("+width+",0)");
			
			var border = svg.append("rect")
				.attr("class", "glass")
				.attr("width", svgWidth)
				.attr("height", svgHeight)
				.attr("fill", "none")
				.attr("stroke", "grey")
				.attr("stroke-width", "5px")
				.attr("rx", "30");
			
			var infoText = svg.append("text")
				.attr("dx", width+150)
				.attr("dy", height/4)
				.attr("text-anchor", "middle")
				.attr("font-size",15)
				.text(goal.title);
	};
	</script>

			<style>
				.hexagon {
					opacity: .4;
					filter: blur(1px);
				}
				
				.notice {
					opacity: .7;
					-webkit-filter: blur(5px);
					padding: 10px 0;
					border-bottom: 1px solid;
					border-bottom-color: #ccc;
					border-bottom-color: rgba(255,255,255,0.2);
					background-color: rgba(255,255,255,0.2);
					box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
				}
				
				.noticetext {
					opacity: .9;
					-webkit-filter: blur(5px);
					padding: 10px 0;
					border-bottom: 1px solid;
					border-bottom-color: #ccc;
					border-bottom-color: rgba(255,255,255,0.2);
					background-color: rgba(255,255,255,0.2);
					box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
				}
				
				.glass {
					padding: 10px 0;
					background-color: rgba(0,0,0,0.1);
					border-radius: 10px;
					box-shadow: inset 0 50px rgba(255,255,255,0.2),
								inset 0 -15px 30px rgba(0,0,0,0.4),
									  0 5 px 10px rgba(0,0,0,0.5);
					-mox-box-shadow: inset 0 0 10px #000000;
					-webkit-box-shadow: inset 0 0 10px #000000;
					box-shadow: inset 0 0 0 10px #000000;
				}
			</style>
			
			<script>
			var element = function(divID, goalID, goalTitle, goalDescription, goalPrivate, goalCompleted, goaldDateCompleted) {	
				
				var completed = goalCompleted;
				
				var svgWidth = 960,
					svgHeight = 500;
				
				var width = 700,
					height = 500,
					i = -1,
					θ = 0,
					δθ = .03,
					n = 2000,
					k = 6; // samples to replace per frame
					
				var hexID = -1;
					
				var randomX = d3.random.normal(width/2, 350),
					randomY = d3.random.normal(height/2, 250),
					points = d3.range(n).map(function() { return [randomX(), randomY()]; });

				var color = d3.scale.linear()
					.domain([0, 10])
					.range(["white", "steelblue"])
					.interpolate(d3.interpolateLab);

				var hexbin = d3.hexbin()
					.size([width, height])
					.radius(20);
					
				var svg = d3.select("body").append("svg")
					.attr("width", svgWidth)
					.attr("height", svgHeight);
					
				var clipBox = svg.append("clipPath")
					.attr("id", "clip-box");
					
				clipBox.append("rect")
					.attr("class", "glass")
					.attr("width", svgWidth)
					.attr("height", svgHeight)
					.attr("fill", "none")
					.attr("rx", "30");
					
				svg.attr("clip-path", "url(#clip-box)");
					
				var hexagon = svg.append("g")
					.attr("class", "hexagons")
				  .selectAll("path")
					.data(hexbin(points))
				  .enter().append("path")
					.attr("d", hexbin.hexagon(19.5))
					.attr("id", function(d){ hexID++; return (hexID+""); })
					.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
					.style("fill", function(d) { return color(d.length); });
					
				var start = true;
				
				var noticePoints = [{"x":0, "y":50},
									{"x":25, "y":0},
									{"x":300, "y":0},
									{"x":325, "y":50},
									{"x":300, "y":100},
									{"x":25, "y":100}];
				
				var notice = svg.append("g")
					.attr("class", "notice")
					.selectAll("polygon")
				  .data([noticePoints]).enter()
					.append("polygon")
					.attr("points", function(d) { return d.map(function(d){ return [d.x,d.y].join(","); }).join(" "); })
					//.attr("stroke", "grey")
					.attr("stroke-width", 2)
					.attr("transform", "translate(187.5,200)")
					.attr("fill", "steelblue");
					
				var glass = svg.append("rect")
					.attr("class", "glass")
					.attr("width", width)
					.attr("height", height)
					.attr("fill", "none");
					
				//CALCULATE TEXT SIZE YOURSELF
					
				var noticeText = svg.append("text")
					.attr("class", "noticetext")
					.attr("dx", width/2)
					.attr("dy", height/2)
					.attr("text-anchor", "middle")
					.attr("font-size",30)
					.text(goalTitle);
					
				var green = d3.scale.linear()
					.domain([0, 10])
					.range(["white", "lightgreen"])
					.interpolate(d3.interpolateLab);
					
				var display = svg.append("rect")
					.attr("width", 260)
					.attr("height", 380)
					.attr("fill", "steelblue")
					.attr("stroke", "black")
					.attr("transform", "translate(700,0)")
			
				var editButton = svg.append("rect")
					.attr("width", 260)
					.attr("height", 60)
					.attr("fill", "darkolivegreen")
					.attr("stroke", "black")
					.attr("transform", "translate(700,380)")
					
				if (completed) {
					var completeButton = svg.append("rect")
						.attr("width", 260)
						.attr("height", 60)
						.attr("transform", "translate(700,440)")
						.attr("stroke", "black")
						.attr("fill", "lightgreen");
				} else {
					var completeButton = svg.append("rect")
						.attr("width", 260)
						.attr("height", 60)
						.attr("transform", "translate(700,440)")
						.attr("stroke", "black")
						.attr("fill", "darkgreen")
						.on("click", function() {
							notice.transition()
								.duration(500)
								.delay(0)
								.attr("fill", "darkolivegreen");
							
							start = false;
							
							hexagon = hexagon
								.data(hexbin(points), function(d) { return d.i + "," + d.j; });
								
							hexagon.exit().remove();
								
							hexagon.enter().append("path")
								.attr("d", hexbin.hexagon(19.5))
								.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
								
							hexagon
								.transition()
								.duration(800)
								.delay( function(d,i) { return 2*i })
								.style("fill", function(d) { return green(d.length); });
								
							setTimeout(function() {
								start = true;
								color = green;
							}, 1600);
						});	
				}	
				
				//Transition + Animation
				var step = function() {
					if (start) {
						θ += δθ;
						randomX = d3.random.normal(width/2 + 80 * Math.cos(θ), 160),
						randomY = d3.random.normal(height/2 + 80 * Math.sin(θ), 160);
						
						for (var j = 0; j < k; ++j) {
							i = (i + 1) % n;
							points[i][0] = randomX();
							points[i][1] = randomY();
						}

						hexagon = hexagon
							.data(hexbin(points), function(d) { return d.i + "," + d.j; });
							
						hexagon.exit().remove();

						hexagon.enter().append("path")
							.attr("d", hexbin.hexagon(19.5))
							.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

						hexagon
							.style("fill", function(d) { return color(d.length); });
					}
					else {
						return false
					}
				};
					
				var timer = d3.timer(step,500);
			
				var topBox = svg.append("rect")
					.attr("class", "glass")
					.attr("width", svgWidth)
					.attr("height", svgHeight)
					.attr("fill", "none")
					.attr("stroke", "black")
					.attr("rx", "30");
			
			}
			//visualOneShotGoal("goalvisual", "3","Goal 1", "This is the description", "yes", false, "");
	</script>
</body>
</html>