<html>
<head>
	<script type="text/javascript" src="{{STATIC_URL}}mbostock-d3/d3.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}hexbin-js-master/src/d3.hexbin.js"></script>
	<script src="http://d3js.org/d3.hexbin.v0.min.js"></script>
	<script src="http://d3js.org/topojson.v1.min.js"></script>
</head>

<body>
	<script>
		var svgWidth = 500;
		var svgHeight = 500
		
		var svg = d3.select("body").append("svg")
			.attr("width", svgWidth)
			.attr("height", svgHeight);
		
		var convertBtn = svg.append("path")
			.attr("id", "convertingbuttonsofdoom")
			.attr("width", "50px")
			.attr("height", "50px")
			.attr("fill", "black")
			.attr("fill-rule", "evenodd")
			.attr("stroke", "none")
			.attr("stroke-width", "1")
			.attr("d", "M112,344 L106,339 L106,342 C101.5,342 98,343 96,348 C99,345.5 102,345 106,346 L106,349 L112,344 L112,344 Z M112,344")
			.attr("transform", "scale(2)");
		
		convertBtn.attr("transform", "translate(0,10)")
		
		var convertBtn = svg.append("rect")
			.attr("width", "20")
			.attr("height", "20")
			.attr("stroke", "black")
			.attr("transform", "translate(50,50)")
			//.attr("transform", "scale(2)");
	</script>
			var element = function(divID, goalID, goalTitle, goalDescription, goalPrivate, goalCompleted, goaldDateCompleted) {	
				
				var completed = goalCompleted;
				
				var svgWidth = 960,
					svgHeight = 500;
				
				var width = 700,
					height = 500,
					i = -1,
					θ = 0,
					δθ = .03,
					n = 2000,
					k = 6; // samples to replace per frame
					
				var hexID = -1;
					
				var randomX = d3.random.normal(width/2, 350),
					randomY = d3.random.normal(height/2, 250),
					points = d3.range(n).map(function() { return [randomX(), randomY()]; });

				var color = d3.scale.linear()
					.domain([0, 10])
					.range(["white", "steelblue"])
					.interpolate(d3.interpolateLab);

				var hexbin = d3.hexbin()
					.size([width, height])
					.radius(20);
					
				var svg = d3.select("body").append("svg")
					.attr("width", svgWidth)
					.attr("height", svgHeight);
					
				var clipBox = svg.append("clipPath")
					.attr("id", "clip-box");
					
				clipBox.append("rect")
					.attr("class", "glass")
					.attr("width", svgWidth)
					.attr("height", svgHeight)
					.attr("fill", "none")
					.attr("rx", "30");
					
				svg.attr("clip-path", "url(#clip-box)");
					
				var hexagon = svg.append("g")
					.attr("class", "hexagons")
				  .selectAll("path")
					.data(hexbin(points))
				  .enter().append("path")
					.attr("d", hexbin.hexagon(19.5))
					.attr("id", function(d){ hexID++; return (hexID+""); })
					.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
					.style("fill", function(d) { return color(d.length); });
					
				var start = true;
				
				var noticePoints = [{"x":0, "y":50},
									{"x":25, "y":0},
									{"x":300, "y":0},
									{"x":325, "y":50},
									{"x":300, "y":100},
									{"x":25, "y":100}];
				
				var notice = svg.append("g")
					.attr("class", "notice")
					.selectAll("polygon")
				  .data([noticePoints]).enter()
					.append("polygon")
					.attr("points", function(d) { return d.map(function(d){ return [d.x,d.y].join(","); }).join(" "); })
					//.attr("stroke", "grey")
					.attr("stroke-width", 2)
					.attr("transform", "translate(187.5,200)")
					.attr("fill", "steelblue");
					
				var glass = svg.append("rect")
					.attr("class", "glass")
					.attr("width", width)
					.attr("height", height)
					.attr("fill", "none");
					
				//CALCULATE TEXT SIZE YOURSELF
					
				var noticeText = svg.append("text")
					.attr("class", "noticetext")
					.attr("dx", width/2)
					.attr("dy", height/2)
					.attr("text-anchor", "middle")
					.attr("font-size",30)
					.text(goalTitle);
					
				var green = d3.scale.linear()
					.domain([0, 10])
					.range(["white", "lightgreen"])
					.interpolate(d3.interpolateLab);
					
				var display = svg.append("rect")
					.attr("width", 260)
					.attr("height", 380)
					.attr("fill", "steelblue")
					.attr("stroke", "black")
					.attr("transform", "translate(700,0)")
			
				var editButton = svg.append("rect")
					.attr("width", 260)
					.attr("height", 60)
					.attr("fill", "darkolivegreen")
					.attr("stroke", "black")
					.attr("transform", "translate(700,380)")
					
				if (completed) {
					var completeButton = svg.append("rect")
						.attr("width", 260)
						.attr("height", 60)
						.attr("transform", "translate(700,440)")
						.attr("stroke", "black")
						.attr("fill", "lightgreen");
				} else {
					var completeButton = svg.append("rect")
						.attr("width", 260)
						.attr("height", 60)
						.attr("transform", "translate(700,440)")
						.attr("stroke", "black")
						.attr("fill", "darkgreen")
						.on("click", function() {
							notice.transition()
								.duration(500)
								.delay(0)
								.attr("fill", "darkolivegreen");
							
							start = false;
							
							hexagon = hexagon
								.data(hexbin(points), function(d) { return d.i + "," + d.j; });
								
							hexagon.exit().remove();
								
							hexagon.enter().append("path")
								.attr("d", hexbin.hexagon(19.5))
								.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
								
							hexagon
								.transition()
								.duration(800)
								.delay( function(d,i) { return 2*i })
								.style("fill", function(d) { return green(d.length); });
								
							setTimeout(function() {
								start = true;
								color = green;
							}, 1600);
						});	
				}	
				
				//Transition + Animation
				var step = function() {
					if (start) {
						θ += δθ;
						randomX = d3.random.normal(width/2 + 80 * Math.cos(θ), 160),
						randomY = d3.random.normal(height/2 + 80 * Math.sin(θ), 160);
						
						for (var j = 0; j < k; ++j) {
							i = (i + 1) % n;
							points[i][0] = randomX();
							points[i][1] = randomY();
						}

						hexagon = hexagon
							.data(hexbin(points), function(d) { return d.i + "," + d.j; });
							
						hexagon.exit().remove();

						hexagon.enter().append("path")
							.attr("d", hexbin.hexagon(19.5))
							.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

						hexagon
							.style("fill", function(d) { return color(d.length); });
					}
					else {
						return false
					}
				};
					
				var timer = d3.timer(step,500);
			
				var topBox = svg.append("rect")
					.attr("class", "glass")
					.attr("width", svgWidth)
					.attr("height", svgHeight)
					.attr("fill", "none")
					.attr("stroke", "black")
					.attr("rx", "30");
			
			}
			//visualOneShotGoal("goalvisual", "3","Goal 1", "This is the description", "yes", false, "");
	</script>
</body>
</html>