{% extends "base.html" %}

{% comment %}
	One Shot Goal Page
{% endcomment %}

{% block head %}
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css" type="text/css">
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.1.0.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
	<!-- js file of the plugin -->
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.leanModalOld.min.js"></script>
	
	<!-- Adding D3 files-->
	<script type="text/javascript" src="{{STATIC_URL}}mbostock-d3/d3.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}hexbin-js-master/src/d3.hexbin.js"></script>
	
	<!-- Adding page scripts-->
	<script type="text/javascript" src="{{STATIC_URL}}js/functions/addNewButtonTime.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/functions/checkCompletedCheckbox.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/functions/cloneMore.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/functions/fillDisplayTimeMilestone.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/functions/hideDateCompleted.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/functions/hideDateCompletedEdit.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/functions/hideDateCompletedFS.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/functions/hideDeleteFS.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/functions/prefillEditFormTime.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/functions/processMilestone.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/functions/resizeGoalDivs.js"></script>
	
	<!-- Adding Visualization js files -->
	<script type="text/javascript" src="{{STATIC_URL}}visuals/time_milestone/visualTimeMilestone{{ visual }}.js"></script>
	
	<!-- Adding Bootstrap -->
	{% load bootstrap3 %}
	{% load staticfiles %}
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    
	<!-- Adding CSS -->
	<link href="{{STATIC_URL}}css/cover.css" rel="stylesheet" type="text/css">
    <link rel= "stylesheet" href = "{{STATIC_URL}}css/goals/timemilestonegoals.css" type="text/css">
	
	<!-- Initializing the plugin for the signin popup -->
	<script>
		$(document).ready(function(){
			$("a[rel*=deletemilestonegoal-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=editmilestonegoal-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=milestonegoaljournal-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=milestonegoalnote-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=milestone-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=submilestone-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=deletesubmilestone-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=gnote-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=egnote-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=dgnote-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=gjournal-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=egjournal-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=dgjournal-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=note-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=enote-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=dnote-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=journal-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=ejournal-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
			$("a[rel*=djournal-form]").leanModal({ top : 200, overlay : 0.8, closeButton: ".modal_close" });
		});
	</script>
{% endblock %}

{% block body %}
	{% if user.is_authenticated %}
		<nav class="navbar navbar-fixed-top" role="navigation">
				<div class="container">
					<ul id="list-nav">
						<a href="{% url 'homepage' %}" target="_blank"><img src="{{STATIC_URL}}img/G_White.png" border="0" id="home-logo"/></a>
						<li><a id='logout_button-btn' href="/logout/">Logout</a></li>
						<li><a id='profile-btn' href="#">Profile</a></li>
						<li><a id='goals-btn' href="/user/{{ user.username }}">Goals</a></li>
						<li><a id='forum-btn' href="#">Forum</a></li>
					</ul>
				</div>
		</nav>		
		<a href="/user/{{ user.username }}/">Back</a><br />
		<a id="editmilestonegoal-form-btn" href="#editmilestonegoal-form" class="pure-button" rel="editmilestonegoal-form" style="display:none">Edit Goal</a>
		<a id="deletemilestonegoal-form-btn" href="#deletemilestonegoal-form" class="pure-button" rel="deletemilestonegoal-form" style="display:none">Delete Goal</a>		
		<a id="milestone-form-btn" href="#milestone-form" class="pure-button" rel="milestone-form" style="display:none">Add New Milestone</a>
		<a id="completed-form-btn" href="#completed-form" class="pure-button" rel="completed-form" style="display:none">Date Completed</a>
		<a id="gnote-form-btn" href="#gnote-form" class="pure-button" rel="gnote-form" style="display:none">Note</a>
		<a id="egnote-form-btn" href="#egnote-form" class="pure-button" rel="egnote-form" style="display:none">Note</a>
		<a id="dgnote-form-btn" href="#dgnote-form" class="pure-button" rel="dgnote-form" style="display:none">Note</a>
		<a id="gjournal-form-btn" href="#gjournal-form" class="pure-button" rel="gjournal-form" style="display:none">Note</a>
		<a id="egjournal-form-btn" href="#egjournal-form" class="pure-button" rel="egjournal-form" style="display:none">Note</a>
		<a id="dgjournal-form-btn" href="#dgjournal-form" class="pure-button" rel="dgjournal-form" style="display:none">Note</a>
		<a id="note-form-btn" href="#note-form" class="pure-button" rel="note-form" style="display:none">Note</a>
		<a id="enote-form-btn" href="#enote-form" class="pure-button" rel="enote-form" style="display:none">Note</a>
		<a id="dnote-form-btn" href="#dnote-form" class="pure-button" rel="dnote-form" style="display:none">Note</a>
		<a id="journal-form-btn" href="#journal-form" class="pure-button" rel="journal-form" style="display:none">Note</a>
		<a id="ejournal-form-btn" href="#ejournal-form" class="pure-button" rel="ejournal-form" style="display:none">Note</a>
		<a id="djournal-form-btn" href="#djournal-form" class="pure-button" rel="djournal-form" style="display:none">Note</a>
		<a id="editmilestone-form-btn" href="#editmilestone-form" class="pure-button" rel="editmilestone-form" style="display:none">Edit Milestone</a>
		<a id="deletemilestone-form-btn" href="#deletemilestone-form" class="pure-button" rel="deletemilestone-form" style="display:none">Delete Milestone</a>
		<a id="submilestone-form-btn" href="#submilestone-form" class="pure-button" rel="submilestone-form" style="display:none">Add New Sub-Milestone</a>
		<div id="visual">
			<div id='goal_visual'>
			</div>
			<div id='visual_texts'>
				<!--details-->
				<div id='visual_details' class="visual-texts">
					<div class="vdtab-container">
						<div id="visual_detailPages">
							<div id="vd_padding">
								<div id='visual_detailsPage1' class="vdtab-content">
								</div>
								<div id='visual_detailsPage2' class="vdtab-content">
								</div>
							</div>
						</div>
					</div>
					<ul id="vdtabsid" class="vdtabs">
						<div id='page1'>
							<li class="vdactive" rel="visual_detailsPage1"><a href="#"></a></li>
						</div>
						<div id='page2'>
							<li rel="visual_detailsPage2"><a href="#"></a></li>
						</div>
					</ul>
				</div>
				<!--notes-->
				<div id='visual_notes' class="visual-texts">
					<div id="note-container" class="visual-texts">
					</div>
					<ul id="notebottom" class="notes-bottom">
						<div id='noteadd'>
							<li><img id="nadd" class="note_icons" width="15" height="auto" src="{{STATIC_URL}}img/button_icons/note_add.svg"></li>
						</div>
						<div id='notesettings'>
							<li><img id="nsettings" class="note_icons" width="15" height="auto" src="{{STATIC_URL}}img/button_icons/settings.svg"></li>
						</div>
					</ul>
				</div>
				<!--journal-->
				<div id='visual_journal' class="visual-texts">
					<div id="journal-container" class="visual-texts">
						<div id="journal-list">
						</div>
						<div id="journal-entries">
						</div>
					</div>
					<ul id="journalbottom" class="journal-bottom">
						<div id='journaladd'>
							<li><img id="jadd" class="note_icons" width="15" height="auto" src="{{STATIC_URL}}img/button_icons/note_add.svg"></li>
						</div>
						<div id='journalsettings'>
							<li><img id="jsettings" class="note_icons" width="15" height="auto" src="{{STATIC_URL}}img/button_icons/settings.svg"></li>
						</div>
					</ul>
					<ul id="entrybottom" class="entry-bottom">
						<div id='entryhome'>
							<li><img id="jhome" class="note_icons" width="15" height="auto" src="{{STATIC_URL}}img/button_icons/jhome.svg"></li>
						</div>
						<div id='entryarrowr'>
							<li><img id="jnext" class="note_icons" width="15" height="auto" src="{{STATIC_URL}}img/button_icons/jarrowright.svg"></li>
						</div>
						<div id='entryarrowl'>
							<li><img id="jprev" class="note_icons" width="15" height="auto" src="{{STATIC_URL}}img/button_icons/jarrowleft.svg"></li>
						</div>
						<div id='entrytrash'>
							<li><img id="jtrash" class="note_icons" width="15" height="auto" src="{{STATIC_URL}}img/button_icons/jtrash.svg"></li>
						</div>
						<div id='entryedit'>
							<li><img id="jedit" class="note_icons" width="15" height="auto" src="{{STATIC_URL}}img/button_icons/jedit.svg"></li>
						</div>
					</ul>
				</div>
			</div>
			<div id="visual_buttons">
				<svg id="convertcontainer" width="80" height="80">
					<defs id="buttondefs">
						<pattern id="convertSVG" x="0" y="0" height="40" width="40">
							<image x="0" y="0" width="22" height="22" xlink:href="{{STATIC_URL}}img/button_icons/convert.svg"></image>
						</pattern>
						<pattern id="addSVG" x="0" y="0" height="40" width="40">
							<image x="0" y="0" width="22" height="22" xlink:href="{{STATIC_URL}}img/button_icons/add.svg"></image>
						</pattern>
						<pattern id="deleteSVG" x="0" y="0" height="40" width="40">
							<image x="0" y="0" width="22" height="22" xlink:href="{{STATIC_URL}}img/button_icons/delete.svg"></image>
						</pattern>
						<pattern id="detailsSVG" x="0" y="0" height="40" width="40">
							<image x="0" y="0" width="22" height="22" xlink:href="{{STATIC_URL}}img/button_icons/details.svg"></image>
						</pattern>
						<pattern id="downloadSVG" x="0" y="0" height="40" width="40">
							<image x="0" y="0" width="22" height="22" xlink:href="{{STATIC_URL}}img/button_icons/download.svg"></image>
						</pattern>
						<pattern id="editSVG" x="0" y="0" height="40" width="40">
							<image x="0" y="0" width="22" height="22" xlink:href="{{STATIC_URL}}img/button_icons/edit.svg"></image>
						</pattern>
						<pattern id="completeSVG" x="0" y="0" height="40" width="40">
							<image x="0" y="0" width="22" height="22" xlink:href="{{STATIC_URL}}img/button_icons/complete.svg"></image>
						</pattern>
						<pattern id="noteSVG" x="0" y="0" height="40" width="40">
							<image x="0" y="0" width="22" height="22" xlink:href="{{STATIC_URL}}img/button_icons/note.svg"></image>
						</pattern>
						<pattern id="journalSVG" x="0" y="0" height="40" width="40">
							<image x="0" y="0" width="22" height="22" xlink:href="{{STATIC_URL}}img/button_icons/journal.svg"></image>
						</pattern>
						<pattern id="visualsSVG" x="0" y="0" height="40" width="40">
							<image x="0" y="0" width="22" height="22" xlink:href="{{STATIC_URL}}img/button_icons/visuals.svg"></image>
						</pattern>
					</defs>
			</div>
			<div id="completedform">
				<form id="completed-form" class="pure-form pure-form-stacked" action="" method="post">
					{% csrf_token %}
					{{ collectmilestoneidform.completedmilestone_id.as_hidden }}
					{{ collectmilestoneidform.completedmilestone_isGoal.as_hidden }}
					{{ completedbuttonform }}
					<input id='submit-complete-btn' class="pure-button pure-input-1 pure-button-primary" type="submit" value="Complete!" name="completedMSSub"/>
				</form>
			</div>
			<div id="42">
			</div>
		</div>
		<script>
			$("#42").hide();
			$("#completed-form-btn").click( function () {
				if ($("#42").is(":hidden")){
					$("#completed-form").show();
					$("#42").show()
					$("#completed-form").animate({top:"530"});
				} else {
					$("#completed-form").show();
					$("#completed-form").animate({top:"430"});
					$("#42").hide();
				}
			});
			
			//Drawing display
			var currentHeight = $(window).height()*.8;
			var currentWidth = $(window).width()*.8;
			var windowMax = Math.max(currentHeight, currentWidth);
			var wWidth = windowMax;
			var wHeight = windowMax*.5208;
			resizeGoalDivs(wWidth, wHeight);
			
			var gl = {{ goalJSON }};
			var msSet = {{ test_milestones1 }};
			var alljournals = {{ alljournalsJSON }};
			visualTimeMilestone("goal_visual", gl, msSet, alljournals, wWidth, wHeight);
			fillDisplayDetails(gl.goal_title, gl.goal_description, gl.goal_private, gl.goal_completed, gl.goal_date_created, 
				gl.goal_date_completed, gl.goal_last_updated, gl.goal_complete_by);
			fillDisplayNote(gl.goal_title, gl.goal_notes, -15, true);
			fillDisplayJournal(gl.goal_title, alljournals, -15, true);

			$(document).ready(function() {
				$(".vdtab-content").hide();
				$(".vdtab-content:first").show();
			
				$("ul.vdtabs li").click(function() {
					$("ul.vdtabs li").removeClass("vdactive");
					$(this).addClass("vdactive");
					$(".vdtab-content").hide()
					var activeTab = $(this).attr("rel");
					$("#"+activeTab).fadeIn();
				});
				
				//note add button
				$("#nadd").click(function() {
					$("#gnote-form-btn").click();
				});
				//note setting button
				$("#nsettings").click(function() {
				});
				
				//journal add button
				$("#jadd").click(function() {
					$("#gjournal-form-btn").click();
				});
				$("#jsettings").click(function() {
				});
				
				//journal entry buttons
				$("#entrybottom").hide();
			});
		</script>
		<!-- FORMS -->
		<form id="deletemilestonegoal-form" class="pure-form pure-form-stacked" action="" method="post">
			{% csrf_token %}
			<p>Are You Sure?</p>
			{% bootstrap_form deletemilestonegoalform %}
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Delete Milestone Goal" name="deleteMSGoalSub"/>
		</form>
		<form id="editmilestonegoal-form" class="pure-form pure-form-stacked" action="" method="post">
			{% csrf_token %}
			<p>Edit Milestone Goal?</p>
			<div id="editmilestonegoalform">
				{% bootstrap_form editmilestonegoalform %}
			</div>
			<script>
				$("#id_completed", "#editmilestonegoalform").click(function() {
					hideDateCompleted('editmilestonegoalform');
				});
				$(document).ready(function() {
					hideDateCompletedEdit('editmilestonegoalform');
				});
			</script>
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Save Changes" name="editMSGSub"/>
		</form>
		<form id="deletemilestone-form" class="pure-form pure-form-stacked" action="" method="post">
			{% csrf_token %}
			{{ collectmilestoneidform.deletemilestone_id.as_hidden }}
			<p>Are You Sure?</p>
			{% bootstrap_form deletemilestoneform %}
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Delete" name="deleteMSSub"/>
		</form>
		<form id="editmilestone-form" class="pure-form pure-form-stacked" action="" method="post">
			{% csrf_token %}
			{{ collectmilestoneidform.editmilestone_id.as_hidden }}
			<div id="editmilestoneform">
				<p>Edit Milestone</p>
				{% bootstrap_form editmilestoneform %}
			</div>
			<script>
				//$("#id_completed", "#editmilestoneform").click(function() {
				//	hideDateCompleted('editmilestoneform');
				//});
				//$(document).ready(function() {
				//	hideDateCompleted('editmilestoneform');
				//	hideDateCompletedEdit('editmilestoneform');
				//});
			</script>
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Save Changes" name="editMSSub"/>
		</form>
		<form id="milestone-form" class="pure-form pure-form-stacked" action="" method="post">
			{% csrf_token %}
			{{ milestoneformset.management_form }}
			<div id='milestoneform_set'>
				{% for form in milestoneformset %}
					<div class='mstable'>
						<table class='no_error'>
							<p>Milestone</p>
							{{ form.as_table }}
						</table>		
					</div>
				{% endfor %}
			</div>
			<input type="button" value="Add Milestone" id="add_milestone"/>
			<script>
				$('#add_milestone').click(function() {
					cloneMore('div.mstable:last', 'timemilestone');
				});
			</script>
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Submit" name="msSub"/>
		</form>
		<form id="submilestone-form" class="pure-form pure-form-stacked" action="" method="post">
			{% csrf_token %}
			{{ collectmilestoneidform.milestone_id.as_hidden }}
			{{ submilestoneformset.management_form }}
			<div id='submilestoneform_set'>
				{% for form in submilestoneformset %}
					<div class='smstable'>
						<table class='no_error'>
							<p>Sub-Milestone</p>
							{{ form.as_table }}
							<script>
								//$("#id_submilestone-0-completed", "#submilestoneform_set").click(function() {
								//	hideDateCompletedFS('submilestoneform_set', 'timesubmilestone', 0);
								//});
								//$(document).ready(function() {
								//	hideDateCompletedFS('submilestoneform_set', 'timesubmilestone', 0);
								//	hideDeleteFS('submilestoneform_set', 'timesubmilestone', 0);
								//});
							</script>
						</table>		
					</div>
				{% endfor %}
			</div>
			<input type="button" value="Add Sub-Milestone" id="add_submilestone"/>
			<script>
				$('#add_submilestone').click(function() {
					cloneMore('div.smstable:last', 'timesubmilestone');
					//var total = $('#id_submilestone-TOTAL_FORMS').val()
					//total--;
					//$("#id_submilestone-"+total+"-completed", "#submilestoneform_set").click(function() {
					//	hideDateCompletedFS('submilestoneform_set', 'submilestone', total);
					//});
					//$(document).ready(function() {
					//	hideDateCompletedFS('submilestoneform_set', 'submilestone', total);
					//	hideDeleteFS('submilestoneform_set', 'submilestone', total);
					//});
				});
			</script>
			<input class="pure-button pure-input-1 pure-button-primary" type="submit" value="Submit" name="subMSSub"/>
		</form>
		<!-- milestone goal -->
		<form id="gnote-form" action="" method="post">
			{% csrf_token %}
			<p>Add New Note</p>
			{% bootstrap_form timemilestonegoalnoteform %}
			<input class="button" type="submit" value="Add" name="gnoteSub"/>
		</form>
		<form id="egnote-form" action="" method="post">
			{% csrf_token %}
			{{ milestonecollectnotejournalid.note_id.as_hidden }}
			<p>Edit Note</p>
			{% bootstrap_form edittimemilestonegoalnoteform %}
			<input class="button" type="submit" value="Save" name="egnoteSub"/>
		</form>
		<form id="dgnote-form" action="" method="post">
			{% csrf_token %}
			{{ milestonecollectnotejournalid.note_id.as_hidden }}
			<p>Are you sure?</p>
			{% bootstrap_form deletetimemilestonegoalnoteform %}
			<input class="button" type="submit" value="Delete" name="dgnoteSub"/>
		</form>
		<form id="gjournal-form" action="" method="post">
			{% csrf_token %}
			<p>Add New Note</p>
			{% bootstrap_form timemilestonegoaljournalform %}
			<input class="button" type="submit" value="Add" name="gjournalSub"/>
		</form>
		<form id="egjournal-form" action="" method="post">
			{% csrf_token %}
			{{ milestonecollectnotejournalid.journal_id.as_hidden }}
			<p>Edit Note</p>
			{% bootstrap_form edittimemilestonegoaljournalform %}
			<input class="button" type="submit" value="Save" name="egjournalSub"/>
		</form>
		<form id="dgjournal-form" action="" method="post">
			{% csrf_token %}
			{{ milestonecollectnotejournalid.journal_id.as_hidden }}
			<p>Are you sure?</p>
			{% bootstrap_form deletetimemilestonegoaljournalform %}
			<input class="button" type="submit" value="Delete" name="dgjournalSub"/>
		</form>
		<!-- milestone -->
		<form id="note-form" action="" method="post">
			{% csrf_token %}
			{{ milestonecollectnotejournalid.milestone_id.as_hidden }}
			<p>Add New Note</p>
			{% bootstrap_form timemilestonenoteform %}
			<input class="button" type="submit" value="Add" name="noteSub"/>
		</form>
		<form id="enote-form" action="" method="post">
			{% csrf_token %}
			{{ milestonecollectnotejournalid.milestone_id.as_hidden }}
			{{ milestonecollectnotejournalid.milestone_note_id.as_hidden }}
			<p>Edit Note</p>
			{% bootstrap_form edittimemilestonenoteform %}
			<input class="button" type="submit" value="Save" name="enoteSub"/>
		</form>
		<form id="dnote-form" action="" method="post">
			{% csrf_token %}
			{{ milestonecollectnotejournalid.milestone_id.as_hidden }}
			{{ milestonecollectnotejournalid.milestone_note_id.as_hidden }}
			<p>Are you sure?</p>
			{% bootstrap_form deletetimemilestonenoteform %}
			<input class="button" type="submit" value="Delete" name="dnoteSub"/>
		</form>
		<form id="journal-form" action="" method="post">
			{% csrf_token %}
			{{ milestonecollectnotejournalid.milestone_id.as_hidden }}
			<p>Add New Note</p>
			{% bootstrap_form timemilestonejournalform %}
			<input class="button" type="submit" value="Add" name="journalSub"/>
		</form>
		<form id="ejournal-form" action="" method="post">
			{% csrf_token %}
			{{ milestonecollectnotejournalid.milestone_id.as_hidden }}
			{{ milestonecollectnotejournalid.milestone_journal_id.as_hidden }}
			<p>Edit Note</p>
			{% bootstrap_form edittimemilestonejournalform %}
			<input class="button" type="submit" value="Save" name="ejournalSub"/>
		</form>
		<form id="djournal-form" action="" method="post">
			{% csrf_token %}
			{{ milestonecollectnotejournalid.milestone_id.as_hidden }}
			{{ milestonecollectnotejournalid.milestone_journal_id.as_hidden }}
			<p>Are you sure?</p>
			{% bootstrap_form deletetimemilestonejournalform %}
			<input class="button" type="submit" value="Delete" name="djournalSub"/>
		</form>
	{% else %}
		<h1>No one's logged in...</h1>
		<a href="{% url 'homepage' %}">Login?</a><br />
	{% endif %}
{% endblock %}